# Ignore virtual environment
.venv/
venv/

# Python caches
__pycache__/
*.pyc

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

# Environment
.env
env/

# Data and models
data/dataset/
models/*.h5
plant_disease_model.h5

# Notebooks
.ipynb_checkpoints/

# Archives
*.zip
*.tar.gz

# Misc
*.log
build/
dist/
*.egg-info/
